# Python-related
*.pyc
__pycache__/

# Virtual environment folder
myenv/

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# OS-specific files
.DS_Store
Thumbs.db

# Local settings (if any)
local_settings.py
